<h1 class="jumbotron">Team Coordinators</h1>
<% if @teams.any? %>
<h3>Choose your name from the list below to add Players to your Team: </h3>
  <ul>
    <% @teams.each do |team| %>
    <li><a href="/coordinator/<%= team.id() %>"><%= team.coordinator() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no teams yet! Please contact with league Manager.</p>
<% end %>
