<br>
<% if @teams.any?() %>
  <h1>This is a list of Teams: </h1>
  <h5>(Click on one to Update/Delete)</h5>
  <ul>
    <% @teams.each do |team| %>
    <li><a href="/teams/<%= team.id() %>/edit"><%= team.name() %></a>, coordinator: <%= team.coordinator() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no teams yet!</p>
<% end %>
<br>
<br>
<h2>Add New Team</h2>
<form action="/teams" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Assign a name to new Team:</label>
    <input class="form-control" id='name' name='name' type="text">
    <label class="form-label" for='coordinator'>Assign a Team Coordinator to it:</label>
    <input class="form-control" id='coordinator' name='coordinator' type="text">
    <button type="submit" class="button btn">Add Team</button>
  </div>
</form>
